body {
  font-family: Arial;
  margin: 0;
  background: linear-gradient(135deg, #5f7cff, #7bd3ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.hero {
  color: white;
  width: 50%;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  opacity: 0.9;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card h2 {
  text-align: center;
}

.criar-conta {
  text-align: center;
  font-size: 14px;
  color: #5f7cff;
  text-decoration: none;
}

.criar-conta:hover {
  text-decoration: underline;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #5f7cff;
  border: none;
  padding: 12px;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4e68e5;
}

#erro {
  color: red;
  text-align: center;
}
